# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# visualisation
matplotlib

# data science
numpy


# deep learning frameworks
torch==1.7.1
torchvision==0.8.2

# tests/linter
black
coverage
flake8
pytest
yapf

# utilities
six>=1.14
memoized-property
imageio
streamlit
